* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0.5%;
    margin: 0.5%;
}
header{
    background: #1a337f url(../images/flywheel.jpg) top center;
    padding: 2%;
}
h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

nav a{
    background-color: rgba(44, 44, 135, 0.8);
    color: #54ff52;
    display: inline-block;
    margin: 0 5%;
    padding: 1% 5%;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
}
nav a.active{
    background: #ffffff;
    color: #232366;
}

p, th, td{
    color: #000000; 
}

section{
    display: block;
    float: right;
    width: 80%;
    height: 460px;
    background-color: #ffffff;
}

h2{
    color: #1a337f;
    text-transform: uppercase;
}
aside{
    display: block;
    float: left;
    width: 20%;
    height: 460px;
    background: #006400;
}
aside img{
    border: 5px ridge #000000;
    margin: 5% auto;
    width: 75%;
    display: block;
}