@font-face{
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

p{
    line-height: 50%; /* this causes lines to overlap with each other.*/
    line-height: 200%; /* this causes lines to be twice as far away from each other */
}