header{
    background-color: #2c2c96;
}

h1{
    text-align: center;
    color: #73F971;
    text-transform: uppercase;
    /* she (Colleen) said that the heading should be all uppercase,
    so i did this */
}

p, table{
    color: #ffffff; 
    /* I just made the color of normal and table text (the table text 
    is in teams.html) white so that it would have high contrast with 
    the section background*/
}

section{
    background-color: #1A337F;
}

h2{
    color: #9AEABC;
    text-transform: uppercase;
}

a{
    background-color: #2C2C87;
    color: #54FF52;
}

img{
    display: none;
}