@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
    /* this goes to parent folder, then goes down and finds another file. */
}
body{
    background: #bebebe;
    font-family: Roboto, Arial, sans-serif;
}
header{
    text-align: center;
    background: #7e7e7e;
}

h1{
    color: #4ca74c;
    font-size: 300%;
}

a.navigation{
    color: #e2a8a8;
    font-size: 150%;
    font-family: 'Times New Roman', serif;
}

h2{
    color: #51ff9c;
}

main{
    background: #5d8abe;
}

footer{
    background: #9df29d;
}